<div class="container-fluid">
    <div class="row">
        <h3>Search</h3>
        <em>Powered by SQL Azure</em><br/>
        <form class="form-inline" (ngSubmit)="search()" #searchForm="ngForm">
            <div class="form-group">
                <label class="sr-only" for="exampleInputThing">Search</label>
                <input type="text" class="form-control" id="exampleInputThing" placeholder="Search..." name="search" required [(ngModel)]="searchString">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid">Search</button>
        </form>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class='table'
                   *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products'>
                        <td>
                            <a [routerLink]="['/products', product.productId]">
                                {{ product.productName }}
                            </a>
                        </td>
                        <td>{{ product.productCode | lowercase | convertToSpaces: '-' }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price | currency:'USD':true:'1.2-2'}}</td>
                        <td>
                            <pm-star [rating]='product.starRating'
                                     (ratingClicked)='onRatingClicked($event)'>
                            </pm-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h3>Top 5 Products</h3>
        <em>Powered by Redis Cache</em><br />
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class='table'
                   *ngIf='top5products && top5products.length'>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of top5products'>
                        <td>
                            <a [routerLink]="['/products', product.productId]">
                                {{ product.productName }}
                            </a>
                        </td>
                        <td>{{ product.productCode | lowercase | convertToSpaces: '-' }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price | currency:'USD':true:'1.2-2'}}</td>
                        <td>
                            <pm-star [rating]='product.starRating'
                                     (ratingClicked)='onRatingClicked($event)'>
                            </pm-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>