<div class="container-fluid">
    <div class="row">
        <h3>{{message}}</h3>
        <form class="form-inline" (ngSubmit)="search()" #searchForm="ngForm">
            <div class="form-group">
                <label class="sr-only" for="exampleInputThing">Search</label>
                <input type="text" class="form-control" id="exampleInputThing" placeholder="Search..." name="search" required>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid">Search</button>
        </form>
    </div>
    <div class="row" *ngIf="false">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>